In [1]:
## Import packages
import numpy as np
import pandas as pd
import copy
# from sklearn.preprocessing import StandardScaler

from sklearn.preprocessing import StandardScaler, LabelEncoder, LabelBinarizer


import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

In [2]:
train = pd.read_csv('train.csv/train.csv')
train.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [3]:
train.shape

(20800, 5)

In [4]:
train.dtypes

id         int64
title     object
author    object
text      object
label      int64
dtype: object

In [5]:
test = pd.read_csv('test.csv/test.csv')
test.shape

(5200, 4)

In [6]:
submit = pd.read_csv('submit.csv')

In [7]:
submit

         id  label
0     20800      0
1     20801      1
2     20802      0
3     20803      1
4     20804      1
...     ...    ...
5195  25995      0
5196  25996      1
5197  25997      0
5198  25998      1
5199  25999      0

[5200 rows x 2 columns]

In [8]:
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [9]:
test.dtypes

id         int64
title     object
author    object
text      object
dtype: object

In [10]:
test.isna().sum().sort_values(ascending = False)

author    503
title     122
text        7
id          0
dtype: int64

In [11]:
# make a copy of the dataframe in case 
train_original = copy.deepcopy(train)

In [12]:
train["label"].value_counts()


#see distribution of 1 and 0 labels

1    10413
0    10387
Name: label, dtype: int64

In [13]:
train.isna().sum().sort_values(ascending = False)

author    1957
title      558
text        39
label        0
id           0
dtype: int64

# Text pre processing

In [14]:
# basic pre-processing
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
import re

from wordcloud import WordCloud

In [15]:
train = train.dropna(subset=['title', 'text'])

test = test.dropna(subset=['title', 'text'])

In [16]:
train.shape

(20203, 5)

In [17]:
test.shape

(5071, 4)

In [18]:
# plt.subplots(figsize=(25,15))
# wordcloud = WordCloud(
#                           background_color='white',
#                           width=1920,
#                           height=1080
#                          ).generate(" ".join(train.title))
# plt.imshow(wordcloud)
# plt.axis('off')
# plt.savefig('b4_clean_title.png')
# plt.show()

# #Name

In [19]:
# plt.subplots(figsize=(25,15))
# wordcloud = WordCloud(
#                           background_color='white',
#                           width=1920,
#                           height=1080
#                          ).generate(" ".join(train.text))
# plt.imshow(wordcloud)
# plt.axis('off')
# plt.savefig('b4_clean_text.png')
# plt.show()

# #Name

In [ ]:
# basic pre-processing
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import re

stop_words = set(stopwords.words('english'))
stemmer = PorterStemmer()


#remove stop words 
#lemmetization instead of stemmer 

def preprocess(review):
    review = " ".join([stemmer.stem(w.lower()) for w in word_tokenize(re.sub('[^a-zA-Z]+', ' ', review.replace("<br />", ""))) if not w in stop_words])
    return review


#cleaning all text from both test and train set 
train['text_clean'] = train.apply(lambda x: preprocess(x['text']), axis=1)
# test['text_clean'] = test.apply(lambda x: preprocess(x['text']), axis=1)

In [21]:
# # basic pre-processing
# from nltk.corpus import stopwords
# from nltk.tokenize import word_tokenize
# from nltk.stem import WordNetLemmatizer
# import re

# stop_words = set(stopwords.words('english'))
# lemmatizer = WordNetLemmatizer()


# #remove stop words 
# #lemmetization instead of stemmer 

# def preprocess(review):
#     review = " ".join([lemmatizer.lemmatize(w.lower()) for w in word_tokenize(re.sub('[^a-zA-Z]+', ' ', review.replace("<br />", ""))) if not w in stop_words])
#     return review


# #cleaning all text from both test and train set 
# train['text_clean'] = train.apply(lambda x: preprocess(x['text']), axis=1)
# test['text_clean'] = test.apply(lambda x: preprocess(x['text']), axis=1)

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

# split dataset to training and test dataset
from sklearn.feature_extraction.text import CountVectorizer #one hot 
from sklearn.model_selection import train_test_split


data_train, data_test, y_train, y_test = train_test_split(train['text_clean'], train['label'], 
                                                          test_size = 0.25, random_state = 2020, stratify = train['label'])

vectorizer = CountVectorizer()
train_counts = vectorizer.fit_transform(data_train)
test_counts = vectorizer.transform(data_test)


# vectorizer = TfidfVectorizer()
# train_vectors = vectorizer.fit_transform(train['text_clean'])
# test_vectors = vectorizer.transform(test['text_clean'])

(15152, 95404)

In [31]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from datetime import datetime

start=datetime.now()
lr = LogisticRegression(max_iter = 6000)

lr.fit(train_counts, y_train)
lr_pred = lr.predict(test_counts)
print('Logistic Regression')
print('Accuracy:')
print(lr.score(test_counts, y_test))
print('Confusion Matrix:')
print(confusion_matrix(lr_pred, y_test))
print('Time taken:')
print(datetime.now()-start)

Logistic Regression
Accuracy:
0.9475351415561275
Confusion Matrix:
[[2452  120]
 [ 145 2334]]
Time taken:
0:00:09.391814